html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px solid #f75000;
    outline-offset: 1px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f6f6f6;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 2px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

.all {
    display: flex;
    justify-content: space-between;
}

/* FIRST_PART */

.all__picture-page {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.picture-page__box {
    margin: 326px auto;
    width: 285px;
}

.picture-page__heading {
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
}

.picture-page__heading--one {
    margin: 0;
    margin-bottom: 24px;   
    color: #fff;
}

.picture-page__button {
    border: 0;
    background-color: #1e90ff;
    padding: 12px 24px;
    cursor: pointer;
}

.picture-page__button:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.picture-page__button:active {
    background-color: rgba(30, 144, 255, 0.6);
}

.button__info {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.button__info::before {
    width: 20px;
    height: 19px;
    background-image: url(../img/star.svg);
    background-size: contain;
    background-position: center center;
    margin-right: 12px;
    content: "";
}

/* SECOND_PART */

.all__info-page {
    width: 100%;
    max-width: 600px;
    padding: 54px;
    background-color: #fff;
}

.info-page__container {
    width: 100%;
    max-width: 492px;
}

.info-page__heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}

.info-page__heading--two {
    color: #222;
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #999;
}

/* BOXES */

.info-page__boxes {
    padding-top: 24px;
    padding-bottom: 24px;
}

.boxes__box {
    width: 492px;
    display: flex;
    margin-bottom: 10px;
}

.box__img {
    width: 160px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;
}

.box__info {
    padding-top: 16px;
}

.info__heading {
    margin: 0;
    margin-bottom: 4px;
}

.info__link-heading {
    font-weight: normal;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    transition: 0.4s ease color;
}

.info__link-heading:hover {
    color: #1e90ff;
}

.info__link-heading:active {
    opacity: 0.6;
}

.box__bottom {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888;
    transition: 0.4s ease color;
}

.bottom__time {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    text-transform: lowercase;
    letter-spacing: 0;
}

.bottom__time::before {
    width: 16px;
    height: 16px;
    background-image: url(../img/clock.svg);
    background-size: contain;
    background-position: center center;
    margin-right: 5px;
    content: "";
}

.bottom__seem {
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    text-transform: lowercase;
    letter-spacing: 0;
}

.bottom__seem::before {
    width: 16px;
    height: 16px;
    background-image: url(../img/visit.svg);
    background-size: contain;
    background-position: center center;
    margin-right: 5px;
    content: "";
}

.info-page__link {
    width: 100%;
    padding: 12px;
    background-color: #1e90ff;
    border: 0;
    border-radius: 4px;
    font-family: "Roboto Condenced", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.info-page__link:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.info-page__link:active {
    background-color: rgba(30, 144, 255, 0.6);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .all__picture-page {
        background-image: url("../img/hero@2x.jpg");
    }

}